img {
  width: 100%;
}

h1 {
  margin-top: 20px;
  font-weight: 300 !important;
  font-size: 1.8em;
}

h2 {
  border-top: 1px solid #eee;
  padding-top: 10px;
  font-weight: 300;
  font-size: 1.4em;
}
